* {
  font-family: "Roboto", "sans sheriff";
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flights {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.filter div {
  margin: 10px 30px;
}
